.content {
  width: 100vw;
  height: auto;

  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
  align-items: center;
}
.title {
  font-weight: 600;
  font-size: 36rpx;

  align-self: start;
  margin-bottom: 1vh;
  margin-left: 6vw;
}

